/* .hero-section {
    background-size: cover;
    background-position: center;
    height:50vh;
    width: 50%; 
 } */
  .home__image{
    width:100%;
    height:  50%;
    background-position: center;
    height:40vh;
    mask-image: linear-gradient(to bottom ,rgba(0,0,0,1), rgba(0,0,0,0));
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  
